<div class="container">
  <h1>Welcome to JavaRacer!</h1>
</div>
<div class="center_div">

<table class="racer_table center">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>

<div class="start-div">
  <%= erb :_start %>
</div>  



<div class="game-play">  
  <p> Press q or p to play! </p>
  <ul> 
    <li> <%= params[:player1] %> </li> vs
    <li> <%= params[:player2] %> </li>   
  </ul>
<!--    <form name="go" class="go" action="/go" method="POST">
   <input class="start-button" type="submit" value="Start!">
 </form> -->
</div> 

  <div class="game-finish">
    <span id="winner"></span>
    <a id="reset" href="">Restart Game</a>
  </div>

</div>

