<div class="container">
  <h1>Welcome to JavaRacer!</h1>
</div>
<div class="center_div">
<table class="racer_table center">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>

 <div class="start">
  <form name="start" class="start" action="/start" method="POST">
   <label for="player1"> <%= @player1 %> </label><input type="text" name="player1">
   <label for="player2"> <%= @player2 %>  </label><input type="text" name="player2">
    <input class="start-button" type="submit" value="Start!">
  </form>
  </div>  
</div>

<div class="game-play">
  <ul>
    <li>@player1</li> VS
    <li>@player2</li>
  </ul>
</div>  

  <div class="game-finish">
    <span id="winner"></span>
    <a id="reset" href="">Restart Game</a>
  </div>


